<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="container py-4 d-flex justify-content-center">
            <div class="h-100 p-5 w-75">
                <div class="d-flex justify-content-between">
                    <h2 th:text="${assignment.title}">#assignment_title#</h2>
                    <div>
                        <span class="text-success" th:if="${assignment.isApproved()}">
                            Approved
                        </span>
                        <span class="text-primary" th:if="${assignment.isSubmitted()}">
                            Submitted
                        </span>
                        <span class="text-danger" th:if="${assignment.isUnsubmitted()}">
                            Not submitted
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="text-secondary" th:text="|Publised at ${assignment.publicationTime}|"></p>
                    <p class="text-secondary" th:text="'Deadline: ' + (${assignment.deadline} ? ${assignment.deadline} : 'Not assigned')"></p>
                </div>

                <div class="row">
                    <hr class="col m-auto">
                    <h4 class="col-auto m-auto">Task</h4>
                    <hr class="col m-auto">
                </div>

                <div class="mb-5">
                    <p th:text="${assignment.text}"></p>
                </div>

                <div class="row">
                    <hr class="col m-auto">
                    <h4 class="col-auto m-auto">Attachments</h4>
                    <hr class="col m-auto">
                </div>

                <div th:each="attachment : ${assignment.attachments}">
                    <div class="d-flex gap-5 mt-1">
                        <a href="#" th:href="@{|/boards/${boardId}/items/${itemId}/attachments/${attachment.id}|}" th:text="${attachment.title}"></a>
                    </div>
                </div>

                <div class="row">
                    <hr class="col m-auto">
                    <h4 class="col-auto m-auto" th:if="${username.equals(assignment.executorUsername)}">Your Attachments</h4>
                    <h4 class="col-auto m-auto" th:if="${!username.equals(assignment.executorUsername)}">Executor Attachments</h4>
                    <hr class="col m-auto">
                </div>

                <div class="mb-3 mt-2" th:if="${username.equals(assignment.executorUsername) and assignment.isUnsubmitted()}">
                    <form class="d-flex gap-5" enctype="multipart/form-data" method="post" th:action="@{|/boards/${boardId}/items/${itemId}/attachments/upload|}">
                        <input type="hidden" name="redirectUrl" th:value="|/boards/${boardId}/items/${itemId}|">
                        <input class="form-control w-auto" type="file" name="file" id="attachForm">
                        <input type="submit" class="btn btn-outline-secondary" value="Attach"/>
                    </form>
                </div>

                <div class="d-flex justify-content-center align-items-center mt-2 gap-2">
                    <form th:if="${username.equals(assignment.executorUsername)}" method="post" th:action="@{|/boards/${boardId}/items/${itemId}/submittion/cancel|}">
                        <input type="submit" th:class="'btn btn-primary' + ${assignment.isSubmitted() ? '' : ' disabled'}" value="Cancel">
                    </form>
                    <form th:if="${username.equals(assignment.executorUsername)}" method="post" th:action="@{|/boards/${boardId}/items/${itemId}/submittion/submit|}">
                        <input type="submit" th:class="'btn btn-primary' + ${assignment.isUnsubmitted() ? '' : ' disabled'}" value="Submit">
                    </form>
                    <form th:if="${username.equals(assignment.approverUsername)}" method="post" th:action="@{|/boards/${boardId}/items/${itemId}/approving/decline|}">
                        <input type="submit" th:class="'btn btn-primary' + ${assignment.isSubmitted() ? '' : ' disabled'}" value="Decline">
                    </form>
                    <form th:if="${username.equals(assignment.approverUsername)}" method="post" th:action="@{|/boards/${boardId}/items/${itemId}/approving/approve|}">
                        <input type="submit" th:class="'btn btn-primary' + ${assignment.isSubmitted() ? '' : ' disabled'}" value="Approve">
                    </form>
                    <a th:if="${username.equals(assignment.creatorUsername)}" th:href="@{|/boards/${boardId}/items/${itemId}/edit|}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>